@use "styles/mixins.scss";
@import "styles/unit.scss";

.root {
  margin-top: rem(200);
  .container {
    .row {
      display: grid;
      grid-template-columns: rem(660) 1fr;
      column-gap: rem(12);
      .col {
        h1 {
          @include mixins.title;
        }
        p {
          @include mixins.content;
          margin-top: rem(30);
        }
        &:last-child {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .root {
    margin-top: rem(100);
    .container {
      .row {
        grid-template-columns: 1fr;
        column-gap: rem(12);
        .col {
          h1 {
            @include mixins.titleMobile;
          }
          p {
            @include mixins.contentMobile;
          }
          .img {
            margin-top: rem(30);
          }
        }
      }
    }
  }
}
