@use "styles/mixins.scss";
@import "styles/unit.scss";

.footer {
  width: 100%;
  height: rem(292);
  background: linear-gradient(0deg, #f2f2f8, #f2f2f8),
    linear-gradient(0deg, rgba(4, 4, 21, 0.04), rgba(4, 4, 21, 0.04)), #ffffff;

  padding: rem(70) 0;
  .container {
    .row {
      display: flex;
      justify-content: center;
      .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
          @include mixins.text;
          margin-bottom: rem(15);
        }
        .social {
          margin-bottom: rem(30);
          display: flex;
          align-items: center;
          justify-content: space-around;
          gap: rem(18);
          svg:hover path {
            transition: 0.1s ease;
            fill: var(--primary-color);
          }
        }
      }
    }
  }
}
