@use "styles/mixins.scss";
@import "styles/unit.scss";

.root {
  .container {
    .breadCrumb {
      display: flex;
      align-items: center;
      column-gap: rem(13);
      p {
        cursor: pointer;
        @include mixins.text;
        line-height: rem(30);
        color: var(--primary-color);
      }
      svg {
        width: rem(18);
      }
      svg path {
        fill: var(--primary-color);
      }
    }
    .row {
      position: relative;
      margin-top: rem(28);
      border-radius: rem(50);
      width: 100%;
      height: rem(580);
      padding: rem(70) rem(77);
      background: var(--gradient-color);
      .colFirst {
        max-width: rem(620);
        h2 {
          @include mixins.title;
        }
        p {
          margin-top: rem(30);
          @include mixins.content;
        }
      }
      .colSecond {
        display: none;
      }
      .image {
        position: absolute;
        right: rem(81);
        top: rem(-50);
      }
    }
  }
}

@media (max-width: 768px) {
  .root {
    .container {
      padding: 0;
      .breadCrumb {
        display: none;
      }
      .row {
        margin-top: rem(0);
        border-radius: 0 0 rem(30) rem(30);
        min-height: rem(730);
        padding: rem(50) rem(20) 0 rem(20);
        display: flex;
        flex-direction: column;
        .colFirst {
          width: auto;
          h2 {
            @include mixins.titleMobile;
          }
          p {
            @include mixins.contentMobile;
          }
        }
        .colSecond {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: flex-end;
        }
        .image {
          display: none;
        }
      }
    }
  }
}
