@import "styles/unit.scss";
.nextArrow,
.prevArrow {
  width: rem(50);
  height: rem(50);
  top: 50%;
  // background: #ffffff;
  // opacity: 0.15;
  border-radius: 50%;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  right: rem(50);
  transition: transform 0.3s linear;
  &::before {
    display: none;
  }
  &:hover {
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.04);
    transition: all 0.3s;
    opacity: 1;
    background: #fff;
    svg path {
      transition: 0.3s;
      fill: var(--primary-color);
    }
  }
}
.prevArrow {
  left: rem(50);
  svg {
    transform: rotate(180deg);
  }
}
